:root {
  --carousel-width: 95vw;
  --carousel-padding: 5px;
}

.viewport {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.carousel {
  width: var(--carousel-width);
  height: auto;
}

.scroll {
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

ul.scroll {
  margin: 0;
  padding: 0;
  list-style: none;
}

.scroll-item-outer {
  width: 100%;
  height: 100%
}

.scroll-item.selected-scroll-item {
  background-color:#00ffff;
  height: 400px;
  margin-top: 20px;
}

.scroll-item {
  background-color:#ff00ff;
  transition: .3s ease;
  width: 300px;
  height: 350px;
  margin: 20px;
  margin-top: 45px;
}

.scroll-item.scroll-item-padding {
  width: 50vw;
}

.scroll-item:not(.scroll-item-padding) {
  -webkit-box-shadow: 20px 15px 53px -12px rgba(0,0,0,0.29), inset 0px -10px 0px 0px rgba(0,0,0,0.11);
  -moz-box-shadow: 20px 15px 53px -12px rgba(0,0,0,0.29), inset 0px -10px 0px 0px rgba(0,0,0,0.11);
  box-shadow: 20px 15px 53px -12px rgba(0,0,0,0.29), inset 0px -10px 0px 0px rgba(0,0,0,0.11);
}

.scroll-item:hover {
  margin-top:35px;
}

.scroll-item.selected-scroll-item:hover {
  margin-top:10px;
}

.scroll-item:not(.scroll-item-padding):hover {
  -webkit-box-shadow: 28px 30px 53px -12px rgba(0,0,0,0.29), inset 0px -10px 0px 0px rgba(0,0,0,0.11);
  -moz-box-shadow: 28px 30px 53px -12px rgba(0,0,0,0.29), inset 0px -10px 0px 0px rgba(0,0,0,0.11);
  box-shadow: 28px 30px 53px -12px rgba(0,0,0,0.29), inset 0px -10px 0px 0px rgba(0,0,0,0.11);
}

.scroll-item.scroll-item-padding {
  width: 50vw;
}

@supports (scroll-snap-align: start) {
  /* modern scroll snap points */
  .scroll {
    scroll-snap-type: x mandatory;
  }
  .scroll-item-outer {
    scroll-snap-align: center;
  }
}

@supports not (scroll-snap-align: start) {
  /* old scroll snap points spec */
  .scroll {
    -webkit-scroll-snap-type: mandatory;
    scroll-snap-type: mandatory;
    -webkit-scroll-snap-destination: 0 50%;
    scroll-snap-destination: 0 50%;
    -webkit-scroll-snap-points-x: repeat(100%);
    scroll-snap-points-x: repeat(100%);
  }
  
  .scroll-item-outer {
    scroll-snap-coordinate: 0 0;
  }
}