@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #f4f4f4 url('./ajax-loader.gif') center center no-repeat;
}
html {
    overflow: hidden;
}
body {
    background-image: url("../images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0px;
}

.image-popup-link img{
    display: inline;
    margin: 10px;
    height: 40px;
    max-width: 50px;
    width: auto;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0,0,0,.51);
}

.image-popup-link {
    font-size: 0px;
}

.transition {
    transition:all .3s ease;
}

.transition-slow {
    transition:all 1s ease;
}

.homepage-card:hover{
    margin-top:80px;
}

.logo-card {
    text-align: center;
    margin-top: 15%;
    vertical-align: middle;
}
.logo-card img{
    height: 150px;
    width: auto;
    max-width: 250px;
    display: inline-block;
}

.logo-card h1 {
    color:#f4f4f4;
    font-family:Source Sans Pro, Century Gothic, sans-serif;
}

.homepage-card {
    margin: 20px;
    margin-top: 90px;
    max-height: 400px;
    border-radius: 10px;
    width: 300px;
    overflow: hidden;
}

.red {
    background: #f06262;
}

.google {
    background: #d04539;
}

.homejoy {
    background: #faca00;
}

.hjcafe {
    background: #5771ce;
}

.michigan {
    background: #01265d;
}

.trio {
    background: #fec659;
}

.daily {
    background: #39d5e7;
}

.cosmic {
    background: #007b19;
}

.gather {
    background: #4ab2c9;
}

.qualcomm {
    background: #168c96;
}

.feedmytrip {
    background: #b50a04;
}

.maav {
    background: #34495e;
}

.urop {
    background: #bd4b17;
}
.indeed {
    background: #1f65f8;
}

.facebook {
    background: #3765a3;
}

.robotics {
    background: #272822;
}

.homepage-card-top {
    padding: 15px;
}

.homepage-card-bottom {
    background: #f4f4f4;
    height: 174.5px;
    padding: 15px;
    margin-top: -20px;
    -webkit-box-shadow: inset 0px -10px 0px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: inset 0px -10px 0px 0px rgba(0,0,0,0.11);
    box-shadow: inset 0px -10px 0px 0px rgba(0,0,0,0.11);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family:Source Sans Pro, Century Gothic, sans-serif;
    font-size: 12px;
}

.resume_link {
    font-size: 20px;
    margin-top: 10px;
}

.resume_link a {
    text-decoration: none;
    color: #602727;
    opacity: .5;
}

.resume_link a:hover {
    text-decoration: underline;
    opacity: .75;
    margin-top: 8px;
    font-size: 22px;
}

.homepage-card-bottom-first {
    background: transparent;
    text-align: center;
    height: 70px;
    margin-top: 37px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family:Source Sans Pro, Century Gothic, sans-serif;
    font-size: 35px;
}

.fa-icon {
    color: #602727;
    opacity: .5;
    margin-left: 2px;
    margin-right: 2px;
}

.fa-icon:hover {
    opacity: .75;
    font-size: 39px;
    margin-left: 0px;
    margin-right: 0px;
}

.shifted {
    margin-top: 5%;
}

.card-hidden {
    height: 0%;
    margin-top: 250px;
    padding: 15px;
    font-family:Source Sans Pro, Century Gothic, sans-serif;
}

.slick-list {
    height: 100%;
}

.slick-center {
    max-height: 460px;
    margin-top: 60px;
-webkit-box-shadow: 20px 15px 53px -12px rgba(0,0,0,0.29), inset 0px -10px 0px 0px rgba(0,0,0,0.11);
-moz-box-shadow: 20px 15px 53px -12px rgba(0,0,0,0.29), inset 0px -10px 0px 0px rgba(0,0,0,0.11);
box-shadow: 20px 15px 53px -12px rgba(0,0,0,0.29), inset 0px -10px 0px 0px rgba(0,0,0,0.11);
}

.slick-center:hover {
    margin-top: 50px;
-webkit-box-shadow: 20px 15px 53px -12px rgba(0,0,0,0.49), inset 0px -10px 0px 0px rgba(0,0,0,0.11);
-moz-box-shadow: 20px 15px 53px -12px rgba(0,0,0,0.49), inset 0px -10px 0px 0px rgba(0,0,0,0.11);
box-shadow: 20px 15px 53px -12px rgba(0,0,0,0.49), inset 0px -10px 0px 0px rgba(0,0,0,0.11);
}

.slick-slide {
-webkit-box-shadow: 11px 10px 46px -12px rgba(0,0,0,0.67), inset 0px -10px 0px 0px rgba(0,0,0,0.11);
-moz-box-shadow: 11px 10px 46px -12px rgba(0,0,0,0.67), inset 0px -10px 0px 0px rgba(0,0,0,0.11);
box-shadow: 11px 10px 46px -12px rgba(0,0,0,0.67), inset 0px -10px 0px 0px rgba(0,0,0,0.11);
}

.slick-slide:hover {
-webkit-box-shadow: 11px 10px 46px -12px rgba(0,0,0,0.37), inset 0px -10px 0px 0px rgba(0,0,0,0.11);
-moz-box-shadow: 11px 10px 46px -12px rgba(0,0,0,0.37), inset 0px -10px 0px 0px rgba(0,0,0,0.11);
box-shadow: 11px 10px 46px -12px rgba(0,0,0,0.37), inset 0px -10px 0px 0px rgba(0,0,0,0.11);
}

*:focus {
    outline: none;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;
    z-index: 99;

    display: block;

    width: 35px;
    height: 35px;
    padding: 0;
    margin-top: -10px\9; /*lte IE 8*/
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 35px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: 25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: 25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: fixed;
    bottom: 30px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 15px;
    height: 15px;
    margin: 0 1px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 15px;
    height: 15px;
    padding: 0px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 15px;
    height: 15px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
